@import url('./default.css');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 1140px;
    height: 100%;
}

header .container {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 2rem;
    height: 8rem;
}

.logo-container, .menu-container, .actions-container, .about-container  {
    display: flex;
}

.logo-container {
    align-items: center;
}

.logo {
    width: 8rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu-item a {
    position: relative;
    font-size: var(--md);
    font-weight: 500;
}

.menu-item a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background: var(--gradient);
    transition: transform 0.3s ease;
}

.menu-item a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

#hero-section {
    height: 75vh;
}

#hero-section .banner {
    display: flex;
    justify-content: space-around;
}

.hero-section__text > span {
    font-size: var(--lg);
    font-weight: 600;
    letter-spacing: 2px;
}

.title span {
    display: block;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--xxl);
}

.title span:nth-child(2) {
    padding-left: 7.07rem;
}

.actions-container {
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.actions-button {
    position: relative;
    font-size: var(--md);
    color: var(--light);
    border: 2px solid var(--light);
    background: transparent;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    letter-spacing: 1px;
    overflow: hidden;
    transition: color 0.4s, transform 0.3s ease;
    cursor: pointer;
    z-index: 1;
}

.actions-button:hover {
    transform: scale(1.2);
    color: var(--dark);
    border-color: var(--dark);
}

.actions-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--light);
    transition: left 0.4s ease;
    z-index: -1;
}

.actions-button:hover::before {
    left: 0;
}

/* About section */

.about-container {
    gap: 4rem;
}

.subtitle {
    margin-bottom: 3rem;
    font-size: var(--xl);
    letter-spacing: 1px;
}

.subtitle span {
    color: var(--secondary);
}

.about-section__img {
    padding: 5px;
    position: relative;
    width: 270px;
    height: 270px;
    border-radius: 50% 50% 5% 50%;
    background: var(--gradient-reverse-diagonal);
}

.about-section__img > img {
    height: 100%;
    border-radius: 50% 50% 5% 50%;
    background-color: #f4f4f4;
}

.about-section__text {
    width: 75%;
}

/* .about-section__text::before {
    content: '{';
    position: relative;
    font-size: 50px;
    left: -50px;
    top: 20px;
}
.about-section__text::after {
    content: '}';
    position: relative;
    font-size: 50px;
    left: 711px;
    bottom: 106px;
} */

.about-section__text p {
    margin-bottom: 1rem;
    font-size: var(--md);
    line-height: 1.7rem;
    letter-spacing: 1px;
}

.skill-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.skill-icons > img {
    height: 35px;
}

/* Projects section */

.projects-section__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 3rem;
    margin: 0 auto;
    width: 90%;
}

.projects-section__grid div {
    background-image: url('../assets/project-screenshot.png');
    background-size: cover;
    background-position: center;
    height: 167px;
    width: 250px;
    border-radius: 8px;
    transition: color 0.4s, transform 0.3s ease;
    cursor: pointer;
}

.projects-section__grid div:hover {
    transform: scale(1.2);
    opacity: .5;
}

/* Contact section */

#contact-section {
    height: 80vh;
}

.contact-section__contacts {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

.contact-section__contacts img  {
    height: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact div p {
    letter-spacing: 1px;
    text-align: center;
    margin: .75rem 0 0;
    font-size: var(--sm);
}

.contact div p:nth-child(1){
    margin-top: 1.5rem;
    font-size: var(--lg);
    font-weight: bold;
}

/* Footer */

footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, transparent, #e6346220);
    color: var(--light);
    text-align: center;
}